<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>login form page</title>
<link rel="stylesheet" href="/login.css">
</head>
<body>
<div class="bg">
        <div class="login-box">
            <p>Login</p>
            
            <form action="/login" method="post">
            
               <div class="user-box">
                   <input required="true" name="email" type="email">
                  <label>Email</label>
                </div>
                
                <div class="user-box">
                    <input required="true" name="password" type="password">
                            <label>Password</label>
                    
                   <div class="link1">
                    <div class="link">
                      <a href="">Fotgot password!</a>
                      </div>
                     <div class="links">
               
                <a href="/signup">SignUp?</a>
            </div>
                    </div>
                </div>
                <button type="submit">Submit</button>
            </form>
           
        </div>
    </div>
</body>
</html>